<div class="d-flex flex-wrap justify-content flex-shrink-1 gap-3">
  <% @freelancers.each do |freelancer| %>
    <%if(freelancer.featured)%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <%= render freelancer %>
        <%= link_to "Show this freelancer", freelancer %>
        </div>
    </div>
    <br/>
    <%end%>
  <% end %>
    <% @freelancers.each do |freelancer| %>
    <%if not(freelancer.featured)%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <%= render freelancer %>
        <%= link_to "Show this freelancer", freelancer %>
       </div>
    </div>
    <%end%>        
    <br/>
    <%end%>
</div>
</div>